{% extends 'layout.html' %}

{% block body %}
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="thing.jpg">
        <!--<img src="file:/Users/chris/Dev/MLFlaskAPP/dev/templates/thing.jpg" alt="doggy" style="width:100%">-->
        <img src="./thing.jpg" alt="doggy" style="width:100%">
        <div class="caption">
          <p>Lorem ipsum...</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/w3images/nature.jpg">
        <img src="/w3images/nature.jpg" alt="Nature" style="width:100%">
        <div class="caption">
          <p>Lorem ipsum...</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/w3images/fjords.jpg">
        <img src="/w3images/fjords.jpg" alt="Fjords" style="width:100%">
        <div class="caption">
          <p>Lorem ipsum...</p>
        </div>
      </a>
    </div>
  </div>
  </div>
{% endblock %}
